version: '3.1'
networks:
  zabbix_net:
    ipam:
      driver: default
      config:
        - subnet: 172.6.0.0/16
#
services:
  zabbix_db:
    build: mysql
    image: zabbix_db
    container_name: zabbix_db
    hostname: zabbix_db
    networks:
      zabbix_net:
        ipv4_address: 172.6.0.2
    extra_hosts: 
      - "host: 172.6.0.1"
      - "zabbix_db: 172.6.0.2"
      - "zabbix_server: 172.6.0.3"
      - "zabbix_front: 172.6.0.4"
      - "zabbix_agent: 172.6.0.5"
    ports: 
      - 3306:3306
    env_file: 
      - default_variables_database.env
      - default_variables_zbx_srv.env
    environment:
      - MYSQL_HOST=localhost
      - MYSQL_PORT=3306
    volumes: 
      - /var/lib/mysql:/var/lib/mysql/
      - ./db:/db
    tty: true
    #restart: always
  #
  zabbix_server:
    build: zabbix_server
    image: zabbix_server
    container_name: zabbix_server
    hostname: zabbix_server
    networks:
      zabbix_net:
        ipv4_address: 172.6.0.3
    extra_hosts: 
      - "host: 172.6.0.1"
      - "zabbix_db: 172.6.0.2"
      - "zabbix_server: 172.6.0.3"
      - "zabbix_front: 172.6.0.4"
      - "zabbix_agent: 172.6.0.5"
    ports: 
      - 10051:10051
    env_file: default_variables_zbx_srv.env
    environment: 
      - MYSQL_HOST=zabbix_db
      - MYSQL_PORT=3306
    volumes:
      - /zabbix_scripts:/zabbix_scripts/
      - ./app:/zabbix
    tty: true
    depends_on: 
      - zabbix_db
    #restart: always
  #
  zabbix_front:
    build: apache
    image: zabbix_front
    container_name: zabbix_front
    hostname: zabbix_front
    networks:
      zabbix_net:
        ipv4_address: 172.6.0.4
    extra_hosts: 
      - "host: 172.6.0.1"
      - "zabbix_db: 172.6.0.2"
      - "zabbix_server: 172.6.0.3"
      - "zabbix_front: 172.6.0.4"
      - "zabbix_agent: 172.6.0.5"
    ports: 
      - 80:80
    env_file: 
      - default_variables_database.env
      - default_variables_zbx_srv.env
    environment:
      - ZABBIX_SERVER_HOST=zabbix_server
      - ZABBIX_SERVER_PORT=10051
      - MYSQL_HOST=zabbix_db
      - MYSQL_PORT=3306
    tty: true
    depends_on: 
      - zabbix_db
      - zabbix_server
    #restart: always
  #
  zabbix_agent:
    build: zabbix_agent
    image: zabbix_agent
    container_name: zabbix_agent
    hostname: zabbix_agent
    extra_hosts: 
      - "host: 172.6.0.1"
      - "zabbix_db: 172.6.0.2"
      - "zabbix_server: 172.6.0.3"
      - "zabbix_front: 172.6.0.4"
      - "zabbix_agent: 172.6.0.5"
    ports: 
      - 10050:10050
    privileged: true
    network_mode: "host"
    environment:
      - ZBX_SERVER_HOST=zabbix_server
      - ZBX_SERVERACTIVE_HOST=zabbix_server
    tty: true
    depends_on: 
      - zabbix_server
    #restart: always